@import './variables';
@import './mixin';

button {
	@include font($text);
	background-color: $c-green;
	color: $c-dark-blue;
	border: none;
	height: 55px;
	padding: 0 20px;
	font-weight: bold;
}

button:hover {
	background-color: $c-dark-blue;
	color: $c-green;
	border: 2px solid $c-green;
	cursor: pointer;
}