@import './variables';
@import './mixin';

header {
	
.svg {
	display: none;
}
	.content {
		background-color: $c-dark-blue;
		h1 {
			@include font($heading-s);
			color: $c-white;
			padding: 40px;
			margin: 0;
		
			span {
				border-bottom: 3px solid $c-green;
			}
		}
	}
	
	
	button {
		margin-bottom: 50px;
		position: relative;
		z-index: 100;
	}
	
	.image-container {
		margin: 0;
		padding: 0;
		width: 100%;
		background: radial-gradient(ellipse at top, rgba(36, 5, 62, 1) 40%, rgba(255, 255, 255, 1) 40.5%);
		background-size: 300%;
		background-position-x: center;
		img {
			width: 80%;
		}
	}
	
}

@media (min-width: 768px) {

	header {

		.svg {
			position: absolute;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			overflow: hidden;
			height: 100%;

			.circles-left {
				position: relative;
				left: -225px;
				top: 50px;
			}

			.circles-right {
				position: relative;
				right: -100px;
				top: 200px;
			}

		}

		.content {
			h1 {
				@include font($heading-m);
				max-width: 500px;
				margin: auto;
			}
		}

		// __image size
		.image-container {
			img {
				width: 60%;
			}
		}
	}
}

@media (min-width: 1440px) {
	header {
		.svg {
			.circles-left {
				left: -130px;
			}

			.circles-right {
				right: -40px;
			}
		}

		.content  {
			h1{
				@include font($heading-l);
				max-width: 600px;
				line-height: 90px;
			}
		}

		.image-container {
			img {
				width: 50%;
			}
		}
	}
}