@import './variables';

nav {
	background-color: $c-dark-blue;
	display: flex;
	padding: 15px;
	justify-content: space-between;

	a {
		z-index: 100;
	}
}

@media (min-width: 1440px) {
	nav {
		padding: 15px 150px;
	}
}